<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">

	<property name="log-pattern" value="%-55(%d{HH:mm:ss} %5level %logger{20}:%line) | %msg%n" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>${log-pattern}</pattern>
		</encoder>
	</appender>

	<logger name="com.widen.valet" level="debug" additivity="false">
		<appender-ref ref="stdout" />
	</logger>

	<root level="info">
		<appender-ref ref="stdout" />
	</root>

</configuration>